<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>
  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-1.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-2.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-3.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-4.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-5.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-6.svg" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="qator">
              <div class="chap"><div class="chap_txt">Age:</div></div>
              <div class="ong">24</div>
            </div>
            <div class="qator">
              <div class="chap"><div class="chap_txt">Residence:</div></div>
              <div class="ong">BD</div>
            </div>
            <div class="qator">
              <div class="chap"><div class="chap_txt">Frelance:</div></div>
              <div class="ong special">Available</div>
            </div>
            <div class="qator">
              <div class="chap"><div class="chap_txt">Address:</div></div>
              <div class="ong">Seul Korea</div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <div class="tillar">
              <div class="title">Languages</div>
              <div class="one_language">
                <div class="tepa">
                  <div class="chap">Bangla</div>
                  <div class="ong">100%</div>
                </div>
                <div class="past">
                  <div class="tashqari">
                    <div class="ichkari"></div>
                  </div>
                </div>
              </div>
              <div class="one_language">
                <div class="tepa">
                  <div class="chap">English</div>
                  <div class="ong">80%</div>
                </div>
                <div class="past">
                  <div class="tashqari">
                    <div class="ichkari sakson"></div>
                  </div>
                </div>
              </div>
              <div class="one_language">
                <div class="tepa">
                  <div class="chap">Spanish</div>
                  <div class="ong">60%</div>
                </div>
                <div class="past">
                  <div class="tashqari">
                    <div class="ichkari oltmish"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_4"></div>
          <div class="marginer"></div>
          <div class="left_5"></div>
          <div class="marginer"></div>
        </div>
        <div class="midd_frame"></div>
        <div class="right_frame"></div>
      </div>
    </div>
  </body>
</html>
