<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>
  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-1.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-2.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-3.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-4.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-5.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-6.svg" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="qator">
              <div class="chap"><div class="chap_txt">Age:</div></div>
              <div class="ong">24</div>
            </div>
            <div class="qator">
              <div class="chap"><div class="chap_txt">Residence:</div></div>
              <div class="ong">BD</div>
            </div>
            <div class="qator">
              <div class="chap"><div class="chap_txt">Frelance:</div></div>
              <div class="ong special">Available</div>
            </div>
            <div class="qator">
              <div class="chap"><div class="chap_txt">Address:</div></div>
              <div class="ong">Seul Korea</div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <div class="tillar">
              <div class="title">Languages</div>
              <div class="one_language">
                <div class="tepa">
                  <div class="chap">Bangla</div>
                  <div class="ong">100%</div>
                </div>
                <div class="past">
                  <div class="tashqari">
                    <div class="ichkari"></div>
                  </div>
                </div>
              </div>
              <div class="one_language">
                <div class="tepa">
                  <div class="chap">English</div>
                  <div class="ong">80%</div>
                </div>
                <div class="past">
                  <div class="tashqari">
                    <div class="ichkari sakson"></div>
                  </div>
                </div>
              </div>
              <div class="one_language">
                <div class="tepa">
                  <div class="chap">Spanish</div>
                  <div class="ong">60%</div>
                </div>
                <div class="past">
                  <div class="tashqari">
                    <div class="ichkari oltmish"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <div class="tillar">
              <div class="title">Skills</div>
              <div class="one_language">
                <div class="tepa">
                  <div class="chap">Html</div>
                  <div class="ong">90%</div>
                </div>
                <div class="past">
                  <div class="tashqari">
                    <div class="ichkari toqson"></div>
                  </div>
                </div>
              </div>
              <div class="one_language">
                <div class="tepa">
                  <div class="chap">CSS</div>
                  <div class="ong">85%</div>
                </div>
                <div class="past">
                  <div class="tashqari">
                    <div class="ichkari saksonbesh"></div>
                  </div>
                </div>
              </div>
              <div class="one_language">
                <div class="tepa">
                  <div class="chap">Js</div>
                  <div class="ong">80%</div>
                </div>
                <div class="past">
                  <div class="tashqari">
                    <div class="ichkari sakson foiz"></div>
                  </div>
                </div>
              </div>
              <div class="one_language">
                <div class="tepa">
                  <div class="chap">PHP</div>
                  <div class="ong">75%</div>
                </div>
                <div class="past">
                  <div class="tashqari">
                    <div class="ichkari oltmish"></div>
                  </div>
                </div>
                <div class="one_language">
                  <div class="tepa">
                    <div class="chap">WordPress</div>
                    <div class="ong">85%</div>
                  </div>
                  <div class="past">
                    <div class="tashqari">
                      <div class="ichkari saksonbesh"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
          <div class="marginer"></div>
          <div class="left_5">
            <div class="extra_skills">
              <div class="title">Extra Skills</div>
                <div class="row">
                  <img src="icon/Icons.svg" class="extra_skills_icon"> 
                  <div class="text"> Bootstrap, Materialize</div>
                </div> 
              <div class="row">
                <img src="icon/Icons.svg" class="extra_skills_icon"> 
                <div class="text"> Stylus, Sass, Less</div>
            </div> 
            <div class="row">
              <img src="icon/Icons.svg" class="extra_skills_icon"> 
              <div class="text"> Gulp,Webpack,Grunt</div>
          </div> 
          <div class="row">
            <img src="icon/Icons.svg" class="extra_skills_icon"> 
            <div class="text">GIT Knowledge</div>
        </div>      
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="midd_frame">
          <div class="banner">
            <div class="info">
              <div class="top">Doctor neurologists in OHSU Hospital</div>
              <div class="midd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</div>
              <div class="bottom">
                <div class="tekst">HIRE ME</div>
                <div class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                    <g clip-path="url(#clip0_2_2655)">
                      <path d="M10.8554 7.72765L7.27939 4.15165L8.22206 3.20898L13.4074 8.39432L8.22206 13.5797L7.27939 12.637L10.8554 9.06098H2.74072V7.72765H10.8554Z" fill="#2B2B2B"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_2_2655">
                        <rect width="16" height="16" fill="white" transform="translate(0.0742188 0.394531)"/>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
            </div>
            <img class="avatar" src="images/avatar.png"/>
          </div>
        </div>
        <div class="right_frame"></div>
      </div>
    </div>
    </div>
    </div>
  </body>
</html>
