.frame {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  background: #e5e5e5;
  width: 1440px;
}
.main_frame {
  height: 100%;
  display: flex;
  flex-direction: row;
  background: #f0f0f6;
  overflow: scroll;
}

.main_frame .left_frame {
  width: 305px;
  height: 100%;
  background-color: white;
  margin-right: 34px;
}
.main_frame .midd_frame {
  width: 970px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main_frame .right_frame {
  width: 108px;
  height: 1315px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.main_frame .left_1 {
  width: 228px;
  margin-left: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
  margin-bottom: 29px;
}
.main_frame .left_1 .left_1-1 {
  display: flex;
  flex-direction: column;
  width: 156.16px;
  height: 142.53px;
}
.main_frame .marginer {
  width: 220px;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 25px;
  border: 1.5px solid #f0f0f6;
}
.main_frame .left_2 {
  width: 221px;
  margin-left: 44px;
  /*background-color: aqua;*/
}

.left_1-2 {
  width: 66.63px;
  height: 20.9px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;

  color: #2b2b2b;
  margin-top: 27px;
}

.main_frame .left_frame .left_3 {
  width: 220px;
  margin-left: 45px;
  /*background-color: aqua;*/
}

.main_frame .left_frame .left_1-3 {
  position: relative;
  width: 147.84px;
  height: 25.65px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;

  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;

  color: #767676;
}
.left-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 238px;
  margin-top: 18px;
}
.link_href {
  text-decoration: none;
  color: black;
}
.icon {
  width: 24.99px;
  height: 22.8px;
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background: #ffb400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_frame .left_frame .left_4 {
  width: 221px;
  margin-left: 45px;
}

.main_frame .left_frame .left_5 {
  width: 221px;
  margin-left: 45px;
}

.qator {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  .chap {
    padding: 5px;
    background: var(--Yellow, #ffb400);
  }
  .special {
    color: #7eb942;
  }
}

.tillar {
  .title {
    /* H4 - 18px */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  color: var(--Black, #2b2b2b);

  .one_language {
    .tepa {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .chap {
        color: var(--Paragraph-Font, #767676);
        font-kerning: none;
        font-feature-settings: "calt" off;

        /* Paragraph Progress - 15 */
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 160% */
        text-transform: capitalize;
      }
      .ong {
        color: var(--Paragraph-Font, #767676);
        font-kerning: none;
        font-feature-settings: "calt" off;

        /* Paragraph Progress - 15 */
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 160% */
        text-transform: capitalize;
      }
    }
    .past {
      .tashqari {
        width: 100%;
        border-color: #ffb400;
        border-width: 0.1em;
        border-style: solid;
        border-radius: 8px;
        .ichkari {
          width: 100%;
          height: 2.5px;
          background-color: #ffb400;
          border-color: #ffb400;
          border-radius: 8px;
        }
        .toqson {
          width: 90%;
        }
        .saksonbesh {
          width: 85%;
        }
        .sakson {
          width: 80%;
        }
        .oltmish {
          width: 60%;
        }

        .saksonbesh {
          width: 85%;
        }
      }
    }
  }
}
.extra_skills {
  width: 100%;
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    .text {
      margin-left: 5px;
      color: var(--Paragraph-Font, #767676);
      font-kerning: none;
      font-feature-settings: "calt" off;

      /* Paragraph Progress - 15 */
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 160% */
      text-transform: capitalize;
    }
    .extra_skills_icon {
      width: 15px;
      height: 15px;
      flex-shrink: 0;
    }
  }
}

.midd_frame {
  margin-right: 22px;
  .banner {
    background-color: white;
    padding-left: 56px;
    display: flex;
    flex-direction: row;
    .info {
      width: 500px;
      margin-top: 100px;
      .top {
        color: var(--Black, #2b2b2b);
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 123.6%; /* 59.328px */
      }
      .midd {
        margin-top: 17px;
        color: var(--Paragraph-Font, #767676);
        font-kerning: none;
        font-feature-settings: "calt" off;

        /* H6 - 16px */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        text-transform: capitalize;
      }
      .bottom {
        margin-top: 23px;
        display: flex;
        padding: 16px 32px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background: var(--Yellow, #ffb400);
        width: 154px;
        height: 51px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .tekst {
          color: var(--Black, #2b2b2b);
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-right: 9px;
        }
      }
    }
    .avatar {
      margin-top: 16px;
    }
  }
}

.services {
  width: 100%;
  margin-top: 148px;
  .head {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .s_title {
      color: var(--Black, #2b2b2b);

      /* H2 - 32px */
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 123.6%; /* 39.552px */
      text-transform: capitalize;
      width: 193px;
    }
    .s_txt {
      color: var(--Paragraph-Font, #767676);
      text-align: center;
      font-kerning: none;
      font-feature-settings: "calt" off;

      /* P-15px paragraph */
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 160% */
      text-transform: capitalize;
      width: 438px;
      margin-top: 25px;
    }
  }
  .items {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
      width: 310px;
      height: 225px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 20px;
      .i_icon {
        width: 68px;
        height: 68px;
      }
      .i_title {
        margin-top: 26px;
        color: var(--Black, #2b2b2b);

        /* H4 - 18px */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 123.6%; /* 22.248px */
        text-transform: capitalize;
      }
      .i_txt {
        width: 260px;
        margin-top: 15px;
        color: var(--Paragraph-Font, #767676);
        text-align: center;
        font-kerning: none;
        font-feature-settings: "calt" off;

        /* Paragraph Progress - 15 */
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 160% */
        text-transform: capitalize;
      }
      .order {
        color: var(--Yellow, #ffb400);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}

.right_frame {
  display: flex;
  flex-direction: column;
}
.right_frame_top {
  margin: 20px;
  padding: 20px;
}
.right_frame_bottom {
  display: flex;
  flex-direction: column;
  margin-top: 43px;
  padding-top: 80px;
}
.right_icon {
  padding-bottom: 50px;
  width: 45px;
  height: 45px;
  margin-top: 50px;
}
